<% provide :title, t("pages.title.sign_up") %>
<% header t("pages.title.sign_up") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for resource, as: resource_name, url:
      registration_path(resource_name) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off",
        class: "form-control" %>
      <% unless @validatable %>
        <span class="help-block"><%= @minimum_password_length %>
          <%= t "pages.min_character" %></span>
      <% end %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",
        class: "form-control" %>
      </br>
      <%= f.submit t("pages.title.sign_up"),
        class: "btn btn-primary btn-block" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
