<li>
  <% if book.picture? %>
    <%= link_to image_tag(book.picture.url, class: "book-pictrue"), book %>
  <% else %>
    <%= link_to image_tag(t("book_for.picture_address"),
      alt: t("book_for.picture"), class: "book-pictrue"), book %>
  <% end %>
  <%= link_to book.title, book %>
  </br>
  <%= link_to t("pages.update"), edit_book_path(book) %>
  <%= t "user_for.vertical_bar" %>
  <%= link_to t("user_for.delete"), book, method: :delete,
    data: {confirm: t("user_for.confirm")} %>
</li>
