<% provide :title, @book.title %>

<div class="container book-container">
  <div class="col-md-4 width-medium">
    <% if @book.picture? %>
      <%= image_tag @book.picture.url %>
    <% end %>
  </div>
  <div class="col-md-7">
    <span class="btn-default btn disabled float-right book-rate">
      <%= t "book_for.rating", param: @book.rating %></span>
    <h1 class="book-title"><%= @book.title %></h1>
    <p class="float-right">
      <strong>
        <%= t "book_for.in_category", param: @book.category.name %>
      </strong>
    </p>
    <%= link_to_toggle_book_reading_histories @book, t("book_for.reading") %>
    <%= link_to_toggle_book_reading_histories @book, t("book_for.read") %>
    <%= link_to_toggle_book_reading_histories @book, t("book_for.favorite") %>
    </br></br></br>
    <p>
      <%= t "book_for.written_by" %>
      <span class="book-author"><%= @book.author %></span>
    </p>
    <p><%= t "book_for.publish_at" %><%= @book.date_published %></p></br>
  </div>
</div>

<div class="container book-container">
  <div class="col-md-3 width-medium">
    <% if @book.price? %>
      <span class="btn pull-right"><strong><%= t "book_for.price" %></strong>
        <%= @book.price %></span>
      </br>
      </br>
      <%= link_to t("book_for.add_bill"), t("none"),
        class: "btn btn-success pull-right add-bill" %>
    <% end %>
  </div>
  <div class="col-md-7 summary">
    <p><strong><%= t "book_for.summary" %></strong></p>
    <span class="more"><%= @book.summary %></span>
  </div>
  <div class="container for-descript">
    <button type="button" class="btn btn-primary button-content"
      data-toggle="modal" data-target="#myModal">
      <%= t "book_for.detail_content" %></button>
    <div class="hover-descript">
      <p class="text-descrip btn btn-success btn-block active">
        <%= t "book_for.description" %></p>
      <% unless @book.description.empty? %>
        <div class="description">
          <h3 class="text-center"><%= t "book_for.chapters" %></h3>
          <p><%= simple_format @book.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;</button>
        <h4 class="modal-title">
          <%= t "book_for.content_name", param: @book.title %></h4>
      </div>
      <div class="modal-body">
        <p><%= @book.content %></p>
      </div>
      <div class="modal-footer">
        <%= link_to t("book_for.add_review"), new_review_path(
          book_id: @book, where: 1), id: "new-link-1", remote: true,
          class: "btn-default btn" %>
        <button type="button" class="btn btn-default", data-dismiss="modal">
          <%= t "book_for.close" %></button>
      </div>
    </div>
  </div>
</div>

<div class="container book-container">
  <div class="col-md-10 col-md-offset-1">
      <p class="text-center reviews-text top-border text-review">
        <%= t "book_for.reviews" %></p>
      <div class="new-review" id="new-link">
        <%= link_to t("book_for.review_now"), new_review_path(
          book_id: @book, where: 2), id:"new-link-2", remote: true,
          class: "btn-warning btn active" %>
      </div>
      <% if @book.reviews.any? %>
        <%= render "reviews/index", reviews: @book.reviews.set_order %>
      <% else %>
        <p><%= t "book_for.no_one_review" %></p>
      <% end %>
  </div>
</div>
