<p><%= t "pages.mailer.hello" %><%= @resource.email %></p>
<p><%= t "pages.change_pass" %></p>

<p><%= link_to t("pages.mailer.change_pass"),
  edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t "pages.dont_want_change" %></p>
<p><%= t "pages.not_change" %></p>
